.contenitore-footer {
    display: flex;
    margin-top: $font * 10;
    padding-bottom: $font * 15;
    color: $color-test-footer;

    .lista {
        list-style-type: none;
    }

    .lunghezza {
        width: 33%;
        font-size: $font * 2;
    }

    .contenitore-indirizzi {

        ul {

            li {
                line-height: 1.3;
            }
        }
    }

    .contenitore-pastificio {

        ul {

            li {
                padding: $font - 5 0;
            }
        }

            .title-prodotti {
                padding-top: $font * 3;
            }
        }

    .contenitore-chef {

            ul {

                li {
                    padding: $font - 5 0;
                }
            }
    }

}
